@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-black antialiased;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
    paint-order: stroke fill;
  }
  
  .text-stroke-black {
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: transparent;
    paint-order: stroke fill;
  }
}
